
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#leaderboard {
    width: 100%;
    max-width: 600px;
    border: 4px solid black;
    margin: auto;
    font-size: 24px;
}

.record-rank {
    flex: 1 1 20%;
}

.record-name {
    flex: 1 1 50%;
}

.record-time {
    flex: 1 1 30%;
}

body {
    background-color: #f8fafc;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 24px;
}

.record {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.record > * {
    font-size: 30px;
}

button {
    color: white;
    background-color: #322641;
    padding: 14px;
    margin: 10px;
    font-size: 24px;
    border-radius: 12px;
}

button.small {
    color: black;
    background-color: transparent;
    padding: 6px;
    margin: 6px;
    font-size: 20px;
    border-radius: 12px;
}
