
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body::backdrop { /* for fullscreen */
    background-color: #f8fafc;
}

body {
    background-color: #f8fafc;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

.hidden {
    display: none !important;
}

#container {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.leaderboards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    /* gap: 50px; */
}

.leaderboard {
    width: 100%;
    max-width: 500px;
    border: 4px solid black;
    font-size: 24px;
}

.header, .header2 {
    width: 100%;
    text-align: center;
}

.header2 {
    font-size: 20px;
}

.record {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.record > * {
    font-size: 30px;
}

.record-rank {
    flex: 1 1 15%;
}

.record-name {
    flex: 1 1 55%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.record-time {
    flex: 1 1 30%;
    text-align: right;
}

button {
    color: white;
    background-color: #322641;
    padding: 14px;
    margin: 10px;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
}

button.outline {
    color: black;
    background-color: transparent;
    padding: 12px;
    margin: 8px;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 12px;
}

button.small {
    color: black;
    background-color: transparent;
    padding: 6px;
    margin: 4px;
    font-size: 20px;
    border-radius: 12px;
}

button[dangerous]:not(.small) {
    background-color: red;
}

button[dangerous].small {
    color: red;
}

.ctrl-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ctrl-row > h2 {
    font-size: 20px;
}
