
@font-face {
    font-family: "Blood Crow";
    /* src: url("/assets/bloodcrowc.woff2") format("woff2"),
        url("/assets/bloodcrowc.woff") format("woff"),
        url("/assets/bloodcrowc.ttf") format("truetype"); */
    src: url("/assets/bloodcrow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

#title {
    font-family: "Blood Crow";
    font-weight: normal;
    font-size: 56px;
}

.header {
    font-family: "Blood Crow";
    font-weight: normal;
    font-size: 36px;
}

.record-avatar {
    flex: 1 1 10%;
}

.record-avatar > img {
    height: 130%;
}
