/*@font-face {
    font-family: "Blood Crow";
    src: url("/assets/bloodcrow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}*/

#title {
    font-family: "Audiowide";
    font-weight: normal;
    font-size: 52px;
}

.header {
    font-family: "Audiowide";
    font-weight: normal;
    font-size: 24px;
}

.record-avatar {
    flex: 1 1 10%;
}

.record-avatar > img {
    height: 130%;
}


.lbs {
    justify-content: space-evenly;
}

.lb-row-name {
    font-family: "Audiowide";
    font-weight: 400;
}

.lb-row-score {
    font-family: "Oxanium", "Roboto Mono", monospace;
    font-weight: 500;
    transform: scaleX(1.1);
    line-height: 55px;
    height: 50px;
}

.lb-row-score .small {
    font-size: 0.7em;
}

.lb {
    width: 40%;
    padding: 5px 20px 20px 20px;
    color: white;
}

.lb-top {
    font-size: 32px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.lb-scroll {
    font-size: 28px;
    height: 386px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.lb-scroll::before,
.lb-scroll::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 30px; 
    z-index: 10; 
    pointer-events: none; 
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
    
.lb-scroll.is-scrolling::before,
.lb-scroll.is-scrolling::after {
    opacity: 1;
}


.lb-scroll::before {
    top: 0;
    background: linear-gradient(to bottom, 
        rgba(66, 133, 244, 0.7), 
        rgba(66, 133, 244, 0.0) 
    );
}

.lb-scroll::after {
    bottom: 0;
    background: linear-gradient(to top, 
        rgba(66, 133, 244, 0.7), 
        rgba(66, 133, 244, 0.0) 
    );
}

.lb-bottom-outer {
    padding: 10px 0px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.lb-bottom {
    will-change: transform;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.lb-bottom .lb-row {
    background-color: rgba(209, 223, 255, 0.7);
    color: black;
    padding: 0px 20px;
    border-radius: 6px;
}

.lb-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.lb-row-rank {
    flex-basis: 8%;
    font-family: "Audiowide";
}

.lb-row-rank-top {
    flex-basis: 12%;
    position: relative;
    height: 100%;
}

.lb-row-rank-top img {
    position: absolute;
    top: 55%;
    left: 22%;
    transform: translate(-50%, -50%);
    height: 120%;
}

.lb-row-rank-top span {
    font-family: "Audiowide";
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.lb-row-name {
    flex-grow: 1;
    flex-basis: 60%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lb-top .lb-row {
    height: 70px;
}

.lb-bottom .lb-row {
    height: 50px;
}

.lb-header {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "Audiowide";
    text-align: center;
}

.lb-row-avatar {
    height: 120%;
}

.lb-row.record-highlight {
    background-color: greenyellow;
    transition: background-color 0.5s ease-in-out;
}

@keyframes slideGlow {
    0% {
        background-position-x: 150%;
    }
    100% {
        background-position-x: -50%;
    }
}

.glow-active {
    animation: slideGlow 2s ease-in-out forwards;
    background-image: linear-gradient(
        90deg, 
        #ffffff 0%, 
        #ffffff 30%, 
        yellow 50%,
        #ffffff 70%, 
        #ffffff 100%
    );
    
    background-size: 200% 100%; 
    
    background-position-x: 150%; 
    
    -webkit-background-clip: text;
    background-clip: text;
    
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    
    transition: background-position-x 0s; 
}
