/*@font-face {
    font-family: "Blood Crow";
    src: url("/assets/bloodcrow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}*/

#title {
    font-family: "Audiowide";
    font-weight: normal;
    font-size: 52px;
}

.header {
    font-family: "Audiowide";
    font-weight: normal;
    font-size: 24px;
}

.record-avatar {
    flex: 1 1 10%;
}

.record-avatar > img {
    height: 130%;
}
